RewriteEngine On
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.ttf|\.pdf|\.ods|\.txt|\.ods|\.csv|\.xls|\.xlsx|\.gsheet|\.xlsb|\.xlsm|\.xlt|\.xltx|\.numbers)$
RewriteRule (.*) routes.php [QSA,L]