@font-face {
    font-family: RobotoVariable;
    src: url('/asset/font/RobotoVariable.ttf');
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'RobotoVariable';
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1392px;
    display: block;
    margin: 0 auto;
}

a {
    color: turquoise;
}

.text-center {
    text-align: center;
}