button {
    border-style: none;
    font-family: inherit;
    font-size: inherit;
}

.button {
    background-color: var(--color-accent);
    border-radius: var(--rounding-radius);
    padding: 8px 16px;
    color: var(--color-background);
    text-decoration: none;
    transition: var(--animation-speed);
    display: inline-block;
    margin: 8px 0;
    margin-right: 4px;
    float: none;
}

.button:hover {
    background-color: color-mix(in srgb, var(--color-accent) 70%, white 30%);
}

.button-submit {
    float: right;
    margin-left: 16px;
    margin-top: 8px;
    margin-right: 0;
}

.login.button {
    margin-left: 20px;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}