.input {
    display: block;
    margin: 16px 0;
    width: 100%;
    box-sizing: border-box;

    border-style: none;
    background-color: var(--color-background);
    padding: 12px 16px;
    border-radius: var(--rounding-radius);
    outline: var(--default-outline);

    color: var(--color-text);
    font-family: inherit;
    font-size: inherit;

    transition: var(--animation-speed);
}

.input:focus {
    outline-color: var(--color-accent);
}

.input-descriptor {
    background-color: var(--color-foreground);
    margin-bottom: -26px;
    margin-left: 16px;
    color: var(--color-highlight);
    display: block;
    z-index: 111;
    position: relative;
    width: fit-content;
    transition: var(--animation-speed);
    opacity: 0%;

    /* Goated CSS Hack */
    background: linear-gradient(180deg,var(--color-foreground) 0%, var(--color-foreground) 48%, var(--color-background) 2%);
}